-e ./
cycler==0.10.0
matplotlib==2.1.0
mpmath==1.0.0
numexpr==2.6.4
numpy==1.13.3
psutil==5.4.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
ruamel.yaml==0.15.34
scipy==1.0.0
six==1.11.0
sympy==1.1.1
tables==3.4.2
lxml==4.1.1
logging-tree==1.7
