-e ./
numpy==1.13.3
scipy==1.0.0
matplotlib==2.1.0
sympy==1.1.1
tables==3.4.2
boltons==18.0.0
click==6.7
cryptography==2.2.2
cycler==0.10.0
decorator==4.1.2
dicthash==0.0.1
dispy==4.8.6
ipython
jedi==0.11.0
jupyter-client==5.1.0
jupyter-core==4.4.0
line-profiler==2.1.2
logging-tree==1.7
lxml==4.1.1
mpmath==1.0.0
#naturalneighbor==0.1.8
netifaces==0.10.7
networkx==2.1
nose2==0.7.4
numexpr==2.6.4
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
pint==0.8.1
prompt-toolkit==1.0.15
psutil==5.4.0
ptyprocess==0.5.2
pycos==4.6.5
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyzmq==16.0.3
PyYAML==3.12
simplegeneric==0.8.1
six==1.11.0
Sphinx==1.6.6
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-websupport==1.0.1
tornado==4.5.2
traitlets==4.3.2
wcwidth==0.1.7
